* {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    ;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #B566FF;
    font-weight: bold;
}

.correct,
.correct:hover {
    background-color: green;
}

.incorrect,
.incorrect:hover {
    background-color: red;
}


.App {
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 650px; */
    min-width: 900px;
    height: min-content;
    min-height: 300px;
    border-radius: 50px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    flex-direction: column;
}

.left-side {
    width: 100%;
    position: relative;
    width: 50%;
    padding: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.answer-number {
    margin-bottom: 20px;
}

.answer-number span {
    font-size: 28px;
}

.answer-title {
    margin-bottom: 12px;
}

.rigth-side {
    width: 100%;
    width: 50%;
    padding: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.game-finished {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 24px;
    align-items: center;
}


button {
    width: 100%;
    font-size: 16px;
    border-radius: 15px;
    display: flex;
    /* padding: 5px; */
    justify-content: flex-start;
    align-items: center;
    border: 2px;
    cursor: pointer;
    margin: 10px;
    place-content: center;
    background-color: #6F16C1;
    padding-top: 9px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 9px;
    color: white;
    font-weight: bold;
}



span {
    color: white;
    font-size: 1.10rem;
}

.button-continue {
    width: 30%;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.time {
    font-size: 14px;
    margin-bottom: 20px;
}

/* Estilo inicio */

.container-user {
    min-width: 100%;
    display: flex;
    flex-direction: column;
}


form {
    display: flex;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
}


.nick-style {
    font-size: 1.25rem;
    line-height: normal;
    color: white;
    align-self: center;
}


.input-base {
    border-radius: 12px;
    background: rgba(241, 250, 238, 0.15);
    height: 50px;
    font-size: 1.10rem;
    font-weight: 500;
    padding-top: 11.4px;
    padding-bottom: 11.4px;
    color: white;
}

/* Instrucciones */

.container-intructions{
    align-self: center;
    display: flex;
    place-content: center;
    cursor: pointer;
    height: 100%;
    
}